:root {
    --color-primary-text: #757575;
    --color-secondary-text: #212121;
    --color-akcent: #2196F3;
    --primary-backgraund: #fff;
    --secondary-backgraund: #2F303A;
    --primary-font-size: 14px;
    }
html {
    background-color: #E5E5E5;
   
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary-text);
    background-color: var(--primary-backgraund);
    width: 1600px;
    margin: auto;

}

/* nav */
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-secondary-text);
    padding-left: 215px;
    padding-top: 35px;
    margin-right: 90px;
}
.nav-logo{
    color: var(--color-akcent);
}
.list {
list-style-type: none;
}

.list-link {
    font-size: var(--primary-font-size);
    color: var(--color-secondary-text);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-right: 50px;
    display: block;
}
.list-contact {
    font-size: var(--primary-font-size);
    color: var(--color-primary-text);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-right: 50px;
    display: block;
}
.list-link:hover,
.list-contact:hover,
.list-contact:focus,
.list-link:focus {
color: var(--color-akcent);
}
.list-current {
    color: var(--color-akcent);
}

.heder,
.nav-list,
.nav {
    display: flex;
    align-items: center;
  
}
.nav {margin-right: 331px;}
.nav-list {
padding-top: 32px;
}
.heder {
    height: 80px; 
    border: 1px solid #ECECEC;

}


/* mine index*/

.hero {
    width: 1600px;
    height: 600px;
    color: #fff;
    background-color: var(--secondary-backgraund);
}
.hero-discription {
    margin: 0;
    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-buttom {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    margin-left: 700px;
    color: #fff;
    background-color: var(--color-akcent);
    border: none;
    border-radius: 4px;
}
.hero-buttom:hover,
.hero-buttom:focus {
    cursor: pointer;
}

.plus-notitle{
    display: none;
}

.plus-list {
    display: flex;
    list-style-type: none;
    width: 1170px;
    height: 101px;
    padding-left: 215px;
}
.plus-paragraph {
    width: 270px;
    height: 100px;
    margin-right: 30px;
   
    
}
.plus-title {
    font-weight: 700;
    font-size: var(--primary-font-size);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-secondary-text);
}
.plus-content {
    width: 270px;
    font-size: var(--primary-font-size);
    line-height: 1.71;
    color: var(--color-primary-text); 
}
.plus {
    margin-bottom: 95px;
}
.work {
    width: 1170px;
    height: 386px;
    margin-bottom: 95px;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    padding-left: 430px;
    color: var(--color-secondary-text);
   
}
.work-content{
    display: flex;
    padding-left: 215px;
    list-style-type: none;

}
.work-list {
    margin-right: 30px;
}
.team {
    width: 1170px;
    height: 370px;
}
.team-content {
    display: flex;
    list-style-type: none;
    padding-left: 215px;
  
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-left: 430px;
    color: var(--color-secondary-text);
}
.team-list {
    margin-right: 30px;
}
.team-people {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-secondary-text);
}
.team-job {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-primary-text);
}
.team {
    margin-bottom: 95px;
}

/* mine portfolio*/

.main {
    margin-top: 94px;
}
.botton-list {
    display: flex;
    list-style-type: none;
    width: 611px;
    height: 54px;
    padding-left: 495px;
    margin-bottom: 34px;
}
.botton-content {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    height: 38px;
    min-width: 100px;
    margin-right: 8px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    box-shadow: 0 5px 5px rgba(133, 131, 131, 0.5);
    background-color: #F5F4FA;
    color: var(--color-secondary-text);
}

.botton-content:hover,
.botton-content:focus {
    background-color: var(--color-akcent);
    color: #fff;
}

.project-title {
    display: none;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 215px;
    list-style-type: none;
}
.project-content {
    text-decoration: none;
    margin-right: 30px;
}

.content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-secondary-text);
    margin-bottom: 4px;
}
.project-content {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--color-primary-text);
}
.project {
    margin-bottom: 94px;
}


/* futer */

.footer {
    width: 1600px;
    height: 250px;
    background-color: var(--secondary-backgraund);
}
.footer-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
    padding-left: 215px;
    margin-top: 60px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    
}
.footer-logo {
    color: var(--color-akcent);
}
.adress {
    padding-left: 180px;
}
.adress-list {
    list-style-type: none;
    font-style: normal;
 
 
}
.adress-map {
    font-size: var(--primary-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 230px;
    text-decoration: none;
    color: #fff;
}

.adress-link {
    text-decoration: none;
    font-size: var(--primary-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
