:root {
    --color-primary-text: #757575;
    --color-secondary-text: #212121;
    --color-akcent: #2196F3;
    --primary-backgraund: #fff;
    --secondary-backgraund: #2F303A;
    --primary-font-size: 14px;
    }
