:root {
    --color-primary-text: #757575;
    --color-secondary-text: #212121;
    --color-akcent: #2196F3;
    --primary-backgraund: #fff;
    --secondary-backgraund: #2F303A;
    --primary-font-size: 14px;
    }


body {
font-family: 'Roboto', sans-serif;
background-color: var(--primary-backgraund);
    color: var(--color-primary-text);
}

/* styles header */

.link-name {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
    text-decoration: none;
}
.span-name {
color: var(--color-akcent);
}
.nav-link {
    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height:1.14;
    letter-spacing: 0.02em;
    color:var(--color-secondary-text);
    text-decoration: none;
}
.contact {
    font-family: inherit;
    font-weight: 500;
    font-style: normal;
    font-size: var(--primary-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary-text);
    text-decoration: none;
}
.border-heder {
    border: 1px solid #ECECEC;
}
.nav-item,
.project-item,
.project-content,
.address-item,
.advantages-item,
.work-item,
.team-item {
    list-style: none;
}
/* styles main Studio */
.herro {
    background-color: var(--secondary-backgraund);
    width: 1600px;
    height: 600px;
}
.herro-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    width: 696px;
}
.herro-bth {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--color-akcent);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 200px;
}
.advantages-title {
    font-weight: 700;
    font-size: var(--primary-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-secondary-text);
}
.advantages-content {
    font-size: var(--primary-font-size);
    line-height: 24px;
    letter-spacing: 0.03em;
    width: 270px;
}
.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
}
.team-person {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
}
.team-positions {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-primary-text);
}
.team-link {
    text-decoration: none;
    display: block;
    width: 270px;
}
/* styles main Portfolio */
.project-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
}
.project-btn:hover,
.project-btn:focus {
    color: #fff;
    background-color: var(--color-akcent);
    outline: none;
}
.project-link {
    text-decoration: none;
    display: block;
}
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--color-secondary-text);
}

.project-link:hover,
.project-link:focus,
.project-view:hover,
.project-view:focus,
.project-title:hover,
.project-title:focus {
    color: var(--color-akcent);
}
.project-content {
    width: 370px;
    border: 1px solid #EEEEEE;
}
.project-view {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--color-primary-text);
}

/* styles footer */
.footer {
    background-color: var(--secondary-backgraund);
}
.footer-linkname {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}
.contact-map {
    font-family: inherit;
    font-style: normal;
    font-size: var(--primary-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}
.address-item .contact {
    color: rgba(255, 255, 255, 0.6);;
}
.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus,
.contact-map:hover,
.contact-map:focus {
    color: var(--color-akcent);
    outline: none;
}       